div{
    width: 100px;
    height: 100px;
    background-color: aqua; 
    border: 2px solid black;
    display: inline-block;
}

#box1{
    position: static;
    
}
#box2{
    position: relative;
    top: -20px;
    left: -20px;
    
}



#box3{
    position: absolute;
    /* position: sticky; */
    top: 100px;
    left: 200px;
}


#box4{
    position: fixed;
    top: 0100px;
    left: 100px;
    /* /* z-index: -1;  * / THIS IS CONTROL THE OVERLAPPING OF CONTENT IF NEGATIV COME LATE AND  POSTIVE CAME FIRST OF ALL  */
}
