a{
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;

}

button{
    background-color: #f08804;
}

#logo{
    color:#f08804 ;
    font-size: 25px;
}

a{
    margin-right:200px ;
}

#content{
    height: 560px;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: black solid;
    display: inline-block;
}

footer{
    background-color: #0f1111;
    text-align: center;
    color: white;
}