div{
    width: 100px;
    height: 100px;
    background-color: aqua; 
    border: 2px solid black;
    display: inline-block;
}

body{
    background-image: url(cat.jpg);
    background-size: cover;
    /* background-size: contain; */
    /* background-size: auto; */
}

#box1{
    background-image: url("cat.jpg");
    background-size: cover;
}